{% extends 'news/base.html' %}
{% load static %}

{% block title %}Foydalanuvchi parolini tiklash{% endblock title %}

{% block content %}
    <h1>Parolni tiklash</h1>
    <p>Parolingizni tiklash uchun emailingizni kiriting:</p>
    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting</p>
        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <p><button type="submit">tiklash</button> </p>
        </form>
    {% else %}
        <p>Siz nato'g'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi va ishlatilish vaqti o'tib ketgan bo'lishi mumkin.</p>
    {% endif %}
{% endblock content %}