{% extends 'news/base.html' %}
{% load static %}

{% block title %} Iqtisodiyot yangiliklari {% endblock title %}

{% block content %}

<!--        <div class="container "  >-->
<!--            <div class="row " >-->
<!--                <div class="col-lg-12 " >-->
<!--                    <div class="row justify-content-between align-items-center">-->
<!--                        <div class="col-lg-6">-->
<!--                            <div class="box">-->
<!--                            {% for news in iqtisodiyot_yangiliklar %}-->
<!--                                <a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" alt="{{ news.title }}" style="width:50%">-->
<!--                                <h2>{{ news.title | truncatewords:4 }}</h2></a>-->
<!--                            {% endfor %}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
{% for news in iqtisodiyot_yangiliklar %}
<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">

    <div class="card">

        <img src="{{ news.image.url }}" class="card-img-top" alt="{{ news.title }}">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ news.get_absolute_url }}"></h5>
          <p class="card-text">{{ news.title  }}</p>

      </div>
    </div>

  </div>

</div>
{% endfor %}



{% endblock content %}