{% extends 'news/base.html' %}

{% load static %}
{% load hitcount_tags %}

{% block title %} {{ news.title }} {% endblock title %}

{% block content %}

    <h2>{{ news.title }}</h2>
    <h6>{{ news.publish_time }} | <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %} | <i class="fa fa-comment"></i> {{ comment_count }}</h6>
    <img src="{{ news.image.url }}">
    <p>{{ news.body }}</p>

{% if request.user.is_authenticated and request.user.is_superuser %}
    <div class="card-footer text-center">
        <a href="{% url 'news_update' news.slug %}">Tahrirlash</a> |
        <a href="{% url 'news_delete' news.slug %}">o'chirish</a>
    </div>
{% endif %} <br>

{% for comment in comments %}

    <div class="comments" style="padding: 10px">
        <p class="font-weight-bold">
            {{ comment.user }}
            <span class="text-muted font-weight-normal">
                {{ comment.created_time }}
            </span>
        </p>
        {{ comment.body | linebreaks }}
    </div>

{% endfor %}


<div class="col-md-12 card md-4 mt-3">
    <div class="card-body">
        <h3>Izoh qoldirish</h3>
        <form method="post">{% csrf_token %}
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="body"></textarea>
              <label class="label justify-content-start" for="floatingTextarea">Comments</label>
            </div>
            <div>
                <button type="submit" class="comment btn btn-primary btn-lg ">Yuborish</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}